.container{
    margin-top:0px;
}
.wel{
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
    text-align:center;
    width:500px;
}
.welcome{
    margin:auto;
    display:block;
    width:450px;
}